In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_csv("../../labels/Anno_coarse/list_category_img.txt", delim_whitespace=True, header = 1)
df.head()

C:\Users\elise\AppData\Local\Temp\ipykernel_28664\493574998.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("labels/Anno_coarse/list_category_img.txt", delim_whitespace=True, header = 1)

                                        image_name  category_label
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg               3
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg               3
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg               3
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg               3
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg               3

In [3]:
for i in range(50):
    if not df[df.eq(i)['category_label']].empty :
        print(df[df.eq(i).any(axis=1)].head(1))
    else :
        print("No category " + str(i))

No category 0
                                             image_name  category_label
22595  img/Hooded_Cotton_Canvas_Anorak/img_00000001.jpg               1
                                    image_name  category_label
750  img/Single-Button_Blazer/img_00000001.jpg               2
                                        image_name  category_label
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg               3
                                  image_name  category_label
8184  img/Zip_Collar_Bomber/img_00000001.jpg               4
                                         image_name  category_label
3715  img/Tartan_Plaid_Button-Down/img_00000001.jpg               5
                                             image_name  category_label
35043  img/Slouchy_Fuzzy_Knit_Cardigan/img_00000001.jpg               6
                                    image_name  category_label
33575  img/Boxy_Plaid_Flannel/img_00000001.jpg               7
                                               image_name  category_label
127166  img/Paisley_Print_Strappy_Halter/img_00000001.jpg               8
                                  image_name  category_label
35767  img/Slub_Knit_Henley/img_00000001.jpg               9
                                              image_name  category_label
33968  img/Side-Zipper_Drawstring_Hoodie/img_00000001...              10
                                              image_name  category_label
35272  img/Slouchy_Twill_Utility_Jacket/img_00000001.jpg              11
                                   image_name  category_label
57982  img/West_Coast_Jersey/img_00000001.jpg              12
                                       image_name  category_label
74002  img/Corduroy_Hooded_Parka/img_00000001.jpg              13
                                         image_name  category_label
82854  img/Double-Breasted_Peacoat/img_00000001.jpg              14
                                           image_name  category_label
38241  img/Southwestern_Print_Poncho/img_00000001.jpg              15
                                       image_name  category_label
33068  img/Sheer-Paneled_Sweater/img_00000001.jpg              16
                                   image_name  category_label
32897  img/Sheer_Sequin_Tank/img_00000001.jpg              17
                                         image_name  category_label
32851  img/1981_Graphic_Ringer_Tee/img_00000001.jpg              18
                                    image_name  category_label
32955  img/Boxy_Open_Mesh_Top/img_00000001.jpg              19
                                         image_name  category_label
68408  img/Classic_Knit_Turtleneck/img_00000001.jpg              20
                                          image_name  category_label
188638  img/Drawstring_Cargo_Capris/img_00000001.jpg              21
                                          image_name  category_label
147425  img/Button-Tab_Ankle_Chinos/img_00000001.jpg              22
                                         image_name  category_label
143133  img/Mandala_Print_Culottes/img_00000001.jpg              23
                                       image_name  category_label
140654  img/Mineral_Wash_Cutoffs/img_00000001.jpg              24
                                       image_name  category_label
170818  img/Frayed_Denim_Gauchos/img_00000001.jpg              25
                                            image_name  category_label
139785  img/Mineral_Wash_Skinny_Jeans/img_00000001.jpg              26
                                        image_name  category_label
140268  img/Mineral_Wash_Jeggings/img_00000001.jpg              27
                                       image_name  category_label
173203  img/Topstitched_Jodhpurs/img_00000001.jpg              28
                                             image_name  category_label
140028  img/Mineral_Wash_Denim_Joggers/img_00000001.jpg              29
                                               image_name  category_label
141692  img/Mesh-Textured_Workout_Capri_Leggings/img_0...              30
                                     image_name  category_label
161909  img/Water_Print_Sarong/img_00000001.jpg              31
                                              image_name  category_label
139720  img/Mineral_Wash_Overall_Shorts/img_00000001.jpg              32
                                          image_name  category_label
139709  img/Mineral_Wash_Mini_Skirt/img_00000001.jpg              33
                                               image_name  category_label
140161  img/Mineral_Wash_Drawstring_Sweatpants/img_000...              34
                                          image_name  category_label
141624  img/Mesh-Pocket_Sweatshorts/img_00000001.jpg              35
                                           image_name  category_label
149488  img/Colorblocked_Swim_Trunks/img_00000001.jpg              36
                                               image_name  category_label
243893  img/Tile_Print_Drawstring_Caftan/img_00000001.jpg              37
No category 38
                                  image_name  category_label
199160  img/Open-Front_Coat/img_00000001.jpg              39
                                       image_name  category_label
258888  img/Tribal_Print_Coverup/img_00000001.jpg              40
                                               image_name  category_label
198672  img/Open-Knit_High-Slit_Maxi_Dress/img_0000000...              41
                                     image_name  category_label
199596  img/Open-Back_Jumpsuit/img_00000001.jpg              42
                                             image_name  category_label
258233  img/Tribal_Print_V-Back_Kaftan/img_00000001.jpg              43
                                          image_name  category_label
199274  img/Open-Front_Gauze_Kimono/img_00000001.jpg              44
No category 45
                                           image_name  category_label
271542  img/Panda-Hood_Pajama_Onesie/img_00000001.jpg              46
                                          image_name  category_label
240493  img/Lace-Paneled_Satin_Robe/img_00000001.jpg              47
                                         image_name  category_label
199045  img/Open-Back_Woven_Romper/img_00000001.jpg              48
No category 49

In [4]:
category_df = pd.read_csv("../../labels/Anno_coarse/list_category_cloth.txt", delim_whitespace=True, header = 1)
category_df

C:\Users\elise\AppData\Local\Temp\ipykernel_28664\2076814418.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  category_df = pd.read_csv("labels/Anno_coarse/list_category_cloth.txt", delim_whitespace=True, header = 1)

   category_name  category_type
0         Anorak              1
1         Blazer              1
2         Blouse              1
3         Bomber              1
4    Button-Down              1
5       Cardigan              1
6        Flannel              1
7         Halter              1
8         Henley              1
9         Hoodie              1
10        Jacket              1
11        Jersey              1
12         Parka              1
13       Peacoat              1
14        Poncho              1
15       Sweater              1
16          Tank              1
17           Tee              1
18           Top              1
19    Turtleneck              1
20        Capris              2
21        Chinos              2
22      Culottes              2
23       Cutoffs              2
24       Gauchos              2
25         Jeans              2
26      Jeggings              2
27      Jodhpurs              2
28       Joggers              2
29      Leggings              2
30        Sarong              2
31        Shorts              2
32         Skirt              2
33    Sweatpants              2
34   Sweatshorts              2
35        Trunks              2
36        Caftan              3
37          Cape              3
38          Coat              3
39       Coverup              3
40         Dress              3
41      Jumpsuit              3
42        Kaftan              3
43        Kimono              3
44    Nightdress              3
45        Onesie              3
46          Robe              3
47        Romper              3
48    Shirtdress              3
49      Sundress              3

In [5]:
i = 0
for row in category_df.itertuples():
    if not df[df['image_name'].str.contains(str(row.category_name), regex=True)].empty:
        #print("Found " + row.category_name)
        category_df.at[row.Index, 'category_type'] = i
        #print(category_df.at[row.Index, 'category_type'])  # Affiche la valeur mise à jour
        i += 1
    else:
        print("Dropped " + row.category_name)
        category_df.drop(row.Index, inplace=True)
        
for row in category_df.itertuples():
    print(row)

Dropped Cape
Dropped Nightdress
Dropped Shirtdress
Dropped Sundress
Pandas(Index=0, category_name='Anorak', category_type=0)
Pandas(Index=1, category_name='Blazer', category_type=1)
Pandas(Index=2, category_name='Blouse', category_type=2)
Pandas(Index=3, category_name='Bomber', category_type=3)
Pandas(Index=4, category_name='Button-Down', category_type=4)
Pandas(Index=5, category_name='Cardigan', category_type=5)
Pandas(Index=6, category_name='Flannel', category_type=6)
Pandas(Index=7, category_name='Halter', category_type=7)
Pandas(Index=8, category_name='Henley', category_type=8)
Pandas(Index=9, category_name='Hoodie', category_type=9)
Pandas(Index=10, category_name='Jacket', category_type=10)
Pandas(Index=11, category_name='Jersey', category_type=11)
Pandas(Index=12, category_name='Parka', category_type=12)
Pandas(Index=13, category_name='Peacoat', category_type=13)
Pandas(Index=14, category_name='Poncho', category_type=14)
Pandas(Index=15, category_name='Sweater', category_type=15)
Pandas(Index=16, category_name='Tank', category_type=16)
Pandas(Index=17, category_name='Tee', category_type=17)
Pandas(Index=18, category_name='Top', category_type=18)
Pandas(Index=19, category_name='Turtleneck', category_type=19)
Pandas(Index=20, category_name='Capris', category_type=20)
Pandas(Index=21, category_name='Chinos', category_type=21)
Pandas(Index=22, category_name='Culottes', category_type=22)
Pandas(Index=23, category_name='Cutoffs', category_type=23)
Pandas(Index=24, category_name='Gauchos', category_type=24)
Pandas(Index=25, category_name='Jeans', category_type=25)
Pandas(Index=26, category_name='Jeggings', category_type=26)
Pandas(Index=27, category_name='Jodhpurs', category_type=27)
Pandas(Index=28, category_name='Joggers', category_type=28)
Pandas(Index=29, category_name='Leggings', category_type=29)
Pandas(Index=30, category_name='Sarong', category_type=30)
Pandas(Index=31, category_name='Shorts', category_type=31)
Pandas(Index=32, category_name='Skirt', category_type=32)
Pandas(Index=33, category_name='Sweatpants', category_type=33)
Pandas(Index=34, category_name='Sweatshorts', category_type=34)
Pandas(Index=35, category_name='Trunks', category_type=35)
Pandas(Index=36, category_name='Caftan', category_type=36)
Pandas(Index=38, category_name='Coat', category_type=37)
Pandas(Index=39, category_name='Coverup', category_type=38)
Pandas(Index=40, category_name='Dress', category_type=39)
Pandas(Index=41, category_name='Jumpsuit', category_type=40)
Pandas(Index=42, category_name='Kaftan', category_type=41)
Pandas(Index=43, category_name='Kimono', category_type=42)
Pandas(Index=45, category_name='Onesie', category_type=43)
Pandas(Index=46, category_name='Robe', category_type=44)
Pandas(Index=47, category_name='Romper', category_type=45)

In [6]:
category_df

   category_name  category_type
0         Anorak              0
1         Blazer              1
2         Blouse              2
3         Bomber              3
4    Button-Down              4
5       Cardigan              5
6        Flannel              6
7         Halter              7
8         Henley              8
9         Hoodie              9
10        Jacket             10
11        Jersey             11
12         Parka             12
13       Peacoat             13
14        Poncho             14
15       Sweater             15
16          Tank             16
17           Tee             17
18           Top             18
19    Turtleneck             19
20        Capris             20
21        Chinos             21
22      Culottes             22
23       Cutoffs             23
24       Gauchos             24
25         Jeans             25
26      Jeggings             26
27      Jodhpurs             27
28       Joggers             28
29      Leggings             29
30        Sarong             30
31        Shorts             31
32         Skirt             32
33    Sweatpants             33
34   Sweatshorts             34
35        Trunks             35
36        Caftan             36
38          Coat             37
39       Coverup             38
40         Dress             39
41      Jumpsuit             40
42        Kaftan             41
43        Kimono             42
45        Onesie             43
46          Robe             44
47        Romper             45

In [7]:
def csv_to_txt(csv_path, txt_path):
    with open(csv_path, 'r') as csv_file, open(txt_path, 'w') as txt_file:
        for line in csv_file:
            txt_file.write(line)

In [8]:
csv_filename = 'labels/Anno_coarse/categories.csv'
category_df.to_csv(csv_filename, index=False)
txt_filename = '../../labels/Anno_coarse/categories.txt'
csv_to_txt(csv_filename, txt_filename)
os.remove(csv_filename)

In [9]:
def list_directories(path):
    """ List all directories inside the given path using os module """
    return [name for name in os.listdir(path) if os.path.isdir(os.path.join(path, name))]

def directories_to_df(path):
    """ Create a DataFrame from the list of directory paths """
    directories = list_directories(path)
    df = pd.DataFrame(directories, columns=['image_name'])
    df['image_name'] = df['image_name'].astype(str)
    return df

In [10]:
df_path = directories_to_df('../../data/img')
df_path

                          image_name
0            1981_Graphic_Ringer_Tee
1     2-in-1_Space_Dye_Athletic_Tank
2       25_Mesh-Paneled_Jersey_Dress
3               36_Plaid_Shirt_Dress
4            Above_Average_Linen_Tee
...                              ...
5614        Zipper_Drawstring_Hoodie
5615               Zip_Collar_Bomber
5616               Zip_Paneled_Skirt
5617               Zip_Pocket_Blazer
5618           Zip_Pocket_Sweatpants

[5619 rows x 1 columns]

In [11]:
adjectives = pd.DataFrame(df_path['image_name'].str.split('_', expand=True))
adjectives

           0             1           2         3     4     5     6     7     8
0       1981       Graphic      Ringer       Tee  None  None  None  None  None
1     2-in-1         Space         Dye  Athletic  Tank  None  None  None  None
2         25  Mesh-Paneled      Jersey     Dress  None  None  None  None  None
3         36         Plaid       Shirt     Dress  None  None  None  None  None
4      Above       Average       Linen       Tee  None  None  None  None  None
...      ...           ...         ...       ...   ...   ...   ...   ...   ...
5614  Zipper    Drawstring      Hoodie      None  None  None  None  None  None
5615     Zip        Collar      Bomber      None  None  None  None  None  None
5616     Zip       Paneled       Skirt      None  None  None  None  None  None
5617     Zip        Pocket      Blazer      None  None  None  None  None  None
5618     Zip        Pocket  Sweatpants      None  None  None  None  None  None

[5619 rows x 9 columns]

In [12]:
texture = adjectives[0].rename('texture')
texture = pd.DataFrame(texture.unique(), columns=['texture'])
texture.drop(axis=0, index=[0,1,2,3], inplace=True)
texture

                   texture
4                    Above
5     Abstract-Embroidered
6             Abstract-Geo
7         Abstract-Paneled
8       Abstract-Patterned
...                    ...
1113          Zipper-Front
1114        Zippered-Ankle
1115              Zippered
1116                Zipper
1117                   Zip

[1114 rows x 1 columns]

In [13]:
count_values = []

# Iterate over each unique texture and count occurrences in the 'image_name' column
for tex in texture['texture']:
    count = df['image_name'].str.contains(tex, regex=True).sum()  # Counts the number of True values
    count_values.append([tex, count])  # Store texture and its count

# Convert count_values to DataFrame for better display
count_df = pd.DataFrame(count_values, columns=['Texture', 'Count'])

In [14]:
count_df

                   Texture  Count
0                    Above     43
1     Abstract-Embroidered     36
2             Abstract-Geo     49
3         Abstract-Paneled     15
4       Abstract-Patterned    133
...                    ...    ...
1109          Zipper-Front     64
1110        Zippered-Ankle     67
1111              Zippered   2902
1112                Zipper   3465
1113                   Zip   4996

[1114 rows x 2 columns]

In [15]:
for row in count_df.itertuples():
    if row.Count < 1000:
        print("Dropped " + row.Texture)
        texture.drop(texture[texture['texture'] == row.Texture].index, inplace=True)

texture

Dropped Above
Dropped Abstract-Embroidered
Dropped Abstract-Geo
Dropped Abstract-Paneled
Dropped Abstract-Patterned
Dropped Abstract-Plaid
Dropped Abstract-Printed
Dropped Abstract-Quilted
Dropped Abstract-Striped
Dropped Abstract-Stripe
Dropped Abstract-Trimmed
Dropped Abstract-Watercolor
Dropped Accordion-Pleated
Dropped ACDC
Dropped Adios
Dropped Aerosmith
Dropped Allergic
Dropped Always
Dropped Americana
Dropped American
Dropped Amour
Dropped Anchor
Dropped Angel-Sleeved
Dropped Angular
Dropped Animals
Dropped Animal
Dropped Antiqued
Dropped Architecture
Dropped Arrow-Printed
Dropped Arrow
Dropped Art
Dropped ASPCA
Dropped Astronaut
Dropped Asymmetrical
Dropped Athletic-Striped
Dropped Audrey
Dropped Austin
Dropped Baad
Dropped Backless
Dropped Bad
Dropped BAE
Dropped Bali
Dropped Balzac
Dropped Bandage
Dropped Bandana
Dropped Barbie
Dropped Baroque-Embossed
Dropped Baroque-Embroidered
Dropped Baroque-Patterned
Dropped Baroque-Sequined
Dropped Basic
Dropped Basquiat
Dropped Batwing
Dropped Beach
Dropped Bead-Embellished
Dropped Bead-Embroidered
Dropped Beaded-Trim
Dropped Beautiful
Dropped Beauty
Dropped Beba
Dropped Bejeweled
Dropped Believe
Dropped Bell-Sleeved
Dropped Bell
Dropped Bengal
Dropped Best
Dropped Betty
Dropped Between
Dropped Big
Dropped Bike
Dropped Bird
Dropped Blah
Dropped Bleach-Splatter
Dropped Bleached
Dropped Bleach
Dropped Blue
Dropped Blurred
Dropped Boat
Dropped Bob
Dropped Bohemian
Dropped Boho
Dropped Bold
Dropped Bombshell
Dropped Bonjour
Dropped Bonsoir
Dropped Bon
Dropped Boston
Dropped Botanical
Dropped Boucl&eacute;
Dropped Bout
Dropped Bow-Back
Dropped Bow-Front
Dropped Bowie
Dropped Box-Pleated
Dropped Boys
Dropped Boyz
Dropped Braided-Back
Dropped Braided-Strap
Dropped Braided
Dropped BRB
Dropped Breton
Dropped BRKLN
Dropped Broad
Dropped Brocade
Dropped Brooklyn
Dropped Brushed
Dropped Brushstroke
Dropped Bull
Dropped Butterfly
Dropped Button-Front
Dropped Button-Tab
Dropped Buttoned-Front
Dropped Buttoned-Up
Dropped By
Dropped Cable-Knit
Dropped Cacti
Dropped Cage-Back
Dropped Caged-Back
Dropped Caged-Side
Dropped Caged
Dropped California
Dropped Cali
Dropped Camera
Dropped Camouflage
Dropped Camo
Dropped Candy
Dropped Can
Dropped Cap-Sleeved
Dropped Captain
Dropped Cardio
Dropped Cargo
Dropped Cascading
Dropped Cat
Dropped Chain-Trim
Dropped Chained
Dropped Chambray-Sleeved
Dropped Chambray-Trim
Dropped Champagne
Dropped Chandelier
Dropped Charlie
Dropped Charming
Dropped Checked
Dropped Checkered
Dropped Cheetah
Dropped Chenille
Dropped Cherry
Dropped Chevron-Embroidered
Dropped Chevron-Patterned
Dropped Chevron-Quilted
Dropped Chevron-Striped
Dropped Chicago
Dropped Chic
Dropped Chiffon-Back
Dropped Chiffon-Layered
Dropped Chiffon-Paneled
Dropped Chiffon-Sleeve
Dropped Chiffon-Trimmed
Dropped Chouchou
Dropped Chunky
Dropped Ciao
Dropped Cinched-Side
Dropped Cinched
Dropped Circle
Dropped Cities
Dropped City-Chic
Dropped City
Dropped Civil
Dropped Clashist
Dropped Clean
Dropped Clear
Dropped Cloud
Dropped Clustered
Dropped Coated
Dropped Coca-Cola
Dropped Colorblock-Paneled
Dropped Colorblock-Striped
Dropped Colorblocked-Hem
Dropped Colored
Dropped Contrast-Cuff
Dropped Contrast-Front
Dropped Contrast-Paneled
Dropped Contrast-Piped
Dropped Contrast-Trimmed
Dropped Contrast-Trim
Dropped Control
Dropped Cool-Girl
Dropped Cool
Dropped Corduroy
Dropped Corn
Dropped Cotton-Blend
Dropped Cowgirl
Dropped Cowl
Dropped Cozy
Dropped Creased-Front
Dropped Creating
Dropped Crepe-Woven
Dropped Crinkled
Dropped Crisp
Dropped Crisscross-Back
Dropped Crochet-Back
Dropped Crochet-Embroidered
Dropped Crochet-Hemmed
Dropped Crochet-Hem
Dropped Crochet-Patch
Dropped Cross-Back
Dropped Crossback
Dropped Crosshatch
Dropped Crossover-Waist
Dropped Crowned
Dropped Cubist
Dropped Cuddled
Dropped Cuffed-Sleeve
Dropped Curved-Hem
Dropped Curved
Dropped Cute
Dropped Cutout-Front
Dropped Cutout-Mixed
Dropped Cutout-Neckline
Dropped Cutout-Side
Dropped D-Ring
Dropped Dainty
Dropped Daisy-Embroidered
Dropped Dallas
Dropped Damask
Dropped Dancing
Dropped DARE
Dropped Daring
Dropped Dark
Dropped Darling
Dropped Darted
Dropped Daydreamer
Dropped Day
Dropped Deep-V
Dropped Deep
Dropped Definition
Dropped DEFYANT
Dropped Def
Dropped Delicate
Dropped Desert
Dropped Designer
Dropped Destinations
Dropped Destroyed
Dropped Diagonal
Dropped Diamond-Cutout
Dropped Diamond-Embroidered
Dropped Diamond-Knit
Dropped Diamond-Patterned
Dropped Diamond-Quilted
Dropped Diamond-Stitched
Dropped Diamond-Stitch
Dropped Dickies
Dropped Different
Dropped Dip-Dyed
Dropped Dip-Dye
Dropped Ditsy
Dropped Dolphin
Dropped Don't
Dropped Doodle
Dropped Dopest
Dropped Dot-Patterned
Dropped Dot-Pocket
Dropped Double-Breasted
Dropped Double-V
Dropped Drape-Front
Dropped Draped-Collar
Dropped Draped-Front
Dropped Draped-Lapel
Dropped Drapey
Dropped Drawstring-Collar
Dropped Dreamcatcher
Dropped Dreaming
Dropped Dream
Dropped Drop-Crotch
Dropped Drop-Sleeved
Dropped Drop-Sleeve
Dropped Dropped-Collar
Dropped Dropped-Hem
Dropped Dropped-Sleeve
Dropped Dropped
Dropped Duo-Stripe
Dropped Dusty
Dropped Dynamite
Dropped Eagles
Dropped Eagle
Dropped Easy
Dropped Eating
Dropped Eclectic
Dropped Edgy
Dropped Eiffel
Dropped Elasticized
Dropped Elegant
Dropped Elephant
Dropped Embellished
Dropped Embossed
Dropped Embroidered-Front
Dropped Embroidered-Mesh
Dropped Embroidered-Organza
Dropped Embroidered-Trim
Dropped Enchanted
Dropped Epic
Dropped EPTM.
Dropped Essential
Dropped Ethereal
Dropped ET
Dropped Everday
Dropped Everlasting
Dropped Everyday
Dropped Eyelash-Knit
Dropped Eyelet
Dropped Fair
Dropped Fancy
Dropped Fan
Dropped Faux-Fur
Dropped Faux-Wrap
Dropped Feather
Dropped Felix
Dropped Femme
Dropped Festive
Dropped Fianc&eacute;
Dropped Field
Dropped Finish
Dropped Fishnet-Paneled
Dropped Fitted
Dropped Flared
Dropped Flat-Front
Dropped Flatfront
Dropped Flat
Dropped Flawless
Dropped Flecked
Dropped Flirty
Dropped Floral-Paneled
Dropped Flounced
Dropped Flower
Dropped Flowy
Dropped Fluted
Dropped Flutter-Hem
Dropped Flutter-Sleeve
Dropped Fluttered
Dropped Flutter
Dropped Fold-Over
Dropped Foldover
Dropped Folk
Dropped Follow
Dropped Forever
Dropped Forget-Me-Not
Dropped Forget
Dropped For
Dropped Foulard
Dropped Fox
Dropped France
Dropped Frayed
Dropped Free
Dropped Fresh
Dropped Frida
Dropped Fringed
Dropped Frond
Dropped Front-Slit
Dropped Funnel-Pocket
Dropped Fuzzy
Dropped Galaxy
Dropped Garden
Dropped Garfield
Dropped Garment
Dropped Gathered
Dropped Gauzy
Dropped Genuine
Dropped Geo-Embroidered
Dropped Geo-Patterned
Dropped Geo-Printed
Dropped Geo-Striped
Dropped Geo-Stripe
Dropped Geometric
Dropped Georgette
Dropped Get
Dropped Gingham-Lined
Dropped Gingham
Dropped Giraffe
Dropped Girls
Dropped Give
Dropped Glasses
Dropped Glen
Dropped Glitter
Dropped Globetrotter
Dropped Gondola
Dropped Gone
Dropped Good
Dropped Gorgeous
Dropped Go
Dropped Grateful
Dropped Grid
Dropped Gross
Dropped Grumpy
Dropped Grunge
Dropped Guns
Dropped Happiness
Dropped Harry
Dropped Hashtags
Dropped Haute
Dropped Heart
Dropped Hello
Dropped Herringbone-Patterned
Dropped Herringbone
Dropped Hidden
Dropped High-Collar
Dropped High-Low
Dropped High-Rise
Dropped Hola
Dropped Homies
Dropped Houndstooth
Dropped Ibiza
Dropped Ice
Dropped Iconic
Dropped If
Dropped Iguana
Dropped Ikat
Dropped Illusion
Dropped Ink
Dropped Internet
Dropped Inverse
Dropped Inverted
Dropped Island
Dropped Jaws
Dropped Joe
Dropped Joie
Dropped Kaleidoscope
Dropped Kaleidoscopic
Dropped Kangaroo
Dropped Keepin
Dropped Keep
Dropped Keith
Dropped Keyhole
Dropped Killin'
Dropped Killin
Dropped Kimono-Sleeved
Dropped Kiss
Dropped Kitten
Dropped Kitty
Dropped Knife-Pleated
Dropped Knotted
Dropped Kurt
Dropped L&ver
Dropped L.A.T.H.C.
Dropped L.A.
Dropped Lace-Back
Dropped Lace-Cutout
Dropped Lace-Edged
Dropped Lace-Hemmed
Dropped Lace-Hem
Dropped Lace-Sleeved
Dropped Lace-Trimmed
Dropped Lace-Up
Dropped Lacy
Dropped Ladder-Back
Dropped Ladder-Cutout
Dropped Ladder
Dropped Lady
Dropped Laid
Dropped Langley
Dropped Las
Dropped Lattice
Dropped Layered-Collar
Dropped Layered-Panel
Dropped LA
Dropped Leaf
Dropped Leave
Dropped Led
Dropped LEEF
Dropped Legends
Dropped Lemon
Dropped Leopard
Dropped Life
Dropped Light
Dropped Lily
Dropped Linen-Blend
Dropped Live
Dropped Local
Dropped London
Dropped Long-Sleeved
Dropped Looney
Dropped Loop
Dropped Loose-Knit
Dropped Lost
Dropped Los
Dropped Lovely
Dropped Low-Back
Dropped Low-Rise
Dropped Loyal
Dropped Lush
Dropped Luxe-Printed
Dropped Luxe
Dropped Lynyrd
Dropped M-Slit
Dropped Macram&eacute;-Back
Dropped Malibu
Dropped Mandala
Dropped Mandarin
Dropped Manhattan
Dropped Map
Dropped Marble
Dropped Marilyn
Dropped Marled-Stripe
Dropped Married
Dropped Mascot
Dropped Matchstick
Dropped Matelass&eacute;
Dropped Mateless&eacute;
Dropped Matelot
Dropped Meander
Dropped Medallion
Dropped Medium
Dropped Menagerie
Dropped Meow
Dropped Mesh-Back
Dropped Mesh-Pocket
Dropped Mesh-Textured
Dropped Mesh-Trimmed
Dropped Metallic-Threaded
Dropped Miami
Dropped Michael
Dropped Mickey
Dropped Micro-Striped
Dropped Micro-Stripe
Dropped Mid-Calf
Dropped Mid-Rise
Dropped Midnight
Dropped Minimal
Dropped Minnie
Dropped Mirrored
Dropped Mock
Dropped Modernist
Dropped Mod
Dropped Mom
Dropped Monsieur
Dropped Mon
Dropped Moon
Dropped Morning
Dropped Mosaic
Dropped Multi-Striped
Dropped Multi-Stripe
Dropped Multi-Tonal
Dropped Multi-Tone
Dropped Multicolored
Dropped Must-Have
Dropped MYVL
Dropped My
Dropped N.W.A.
Dropped Nacho
Dropped Nailed
Dropped Nautical-Striped
Dropped Nautical
Dropped Neon
Dropped Netted
Dropped New
Dropped Night
Dropped No-Fuss
Dropped Notched
Dropped Nothing
Dropped Notorious
Dropped Not
Dropped Nubby
Dropped Nueva
Dropped NYC
Dropped Nylon
Dropped NY
Dropped Off-The-Shoulder
Dropped Off-the-Shoulder
Dropped Oh
Dropped Oil
Dropped OK
Dropped Ombr&eacute;
Dropped Ombre-Paneled
Dropped Ombre
Dropped One
Dropped On
Dropped Open-Back
Dropped Open-Crochet
Dropped Open-Mesh
Dropped Open-Shoulder
Dropped Organza-Paneled
Dropped Organza
Dropped Origami
Dropped Original
Dropped Ornate-Crocheted
Dropped Ornate-Embroidered
Dropped Ornate-Patterned
Dropped Out
Dropped Oversized
Dropped Oy
Dropped Painted
Dropped Paint
Dropped Paisley-Embroidered
Dropped Paisley-Trimmed
Dropped Palm
Dropped Panda-Hood
Dropped Paradise
Dropped Pardon
Dropped Paris
Dropped Patched
Dropped Patchwork
Dropped Patch
Dropped Patriotic
Dropped Pebbled
Dropped Pegasus
Dropped Perfect
Dropped Perfomance
Dropped Perforated
Dropped Performance
Dropped Petal-Sleeved
Dropped Peter
Dropped Pineapple
Dropped Pink
Dropped Pinstriped
Dropped Pintuck-Paneled
Dropped Piqu&eacute;
Dropped Pizza
Dropped Play
Dropped Please
Dropped Pleated-Waist
Dropped Plunging
Dropped Plush
Dropped Pocketed
Dropped Poetic
Dropped Pointelle
Dropped Pom-Pom
Dropped Pom
Dropped Popcorn-Knit
Dropped Popcorn-Textured
Dropped Popcorn
Dropped Pop
Dropped Posh
Dropped Positive
Dropped Power
Dropped Prairie-Embroidered
Dropped Prep
Dropped Pretty
Dropped Puff-Sleeve
Dropped Purl
Dropped Quirky
Dropped R2-D2
Dropped Rad
Dropped Raga
Dropped Rainbow
Dropped Raw-Cut
Dropped Raw-Edged
Dropped Really
Dropped Reason
Dropped Rebel
Dropped Refined
Dropped Reflective-Piped
Dropped Regret
Dropped Reindeer
Dropped Relaxed
Dropped Remixed
Dropped Ren
Dropped Retro
Dropped Reverse-Paneled
Dropped Reversed
Dropped Reverse
Dropped Rhinestone-Embellished
Dropped Rhinestoned
Dropped Rhinestone
Dropped Ribbed-Stripe
Dropped Ribbed-Trim
Dropped Ripped
Dropped Rive
Dropped Road
Dropped Rock
Dropped Rolled-Edge
Dropped Rolled-Up
Dropped Rolled
Dropped Rolling
Dropped Romantic
Dropped Roman
Dropped Rope-Drawstring
Dropped Rose-Embroidered
Dropped Rose-Patterned
Dropped Round-Hem
Dropped Round
Dropped Ruched-Sleeve
Dropped Ruched
Dropped Ruffle-Trimmed
Dropped Ruffled-Sleeve
Dropped Rugby-Striped
Dropped Rugby
Dropped Rugrats
Dropped Running
Dropped Run
Dropped Rustic
Dropped Sade
Dropped Safari
Dropped Sanded
Dropped Sandstone
Dropped Sateen
Dropped Satin-Paneled
Dropped Satin
Dropped Saturday
Dropped Say
Dropped Scalloped
Dropped Scallop
Dropped Scarf-Print
Dropped Seam-Stitched
Dropped Seamed
Dropped Seamless
Dropped Seaside
Dropped Secret
Dropped Self-Tie
Dropped Semi-Sheer
Dropped Sequined
Dropped Serious
Dropped Shaggy
Dropped Shakira
Dropped Shark
Dropped Sheer-Paneled
Dropped Sheer-Sleeved
Dropped Shimmering
Dropped Shirred
Dropped Shop
Dropped Shore
Dropped Short-Sleeved
Dropped Shredded
Dropped Side-Cutout
Dropped Side-Knot
Dropped Side-Pocket
Dropped Side-Zipper
Dropped Silverlake
Dropped Simba
Dropped Single-Button
Dropped Sky
Dropped Slackers
Dropped Sleek
Dropped Sleepy
Dropped Slim-Striped
Dropped Slim
Dropped Slouchy
Dropped Slub-Knit
Dropped Smart
Dropped Smocked-Back
Dropped Smocked
Dropped Snake
Dropped Snap
Dropped Snoopy
Dropped Snoop
Dropped Socialite
Dropped Soft
Dropped Solid
Dropped Sophisticated
Dropped Sorry
Dropped Southwestern-Embroidered
Dropped Southwestern-Inspired
Dropped Southwestern-Patterned
Dropped Southwestern-Printed
Dropped Southwestern-Print
Dropped Space
Dropped Sparkling
Dropped Speckled
Dropped Splattered
Dropped Splatter
Dropped Split-Back
Dropped Split-Neck
Dropped Split
Dropped Spoiled
Dropped SpongeBob
Dropped Sporty
Dropped Spotted
Dropped Spot
Dropped Square-Back
Dropped Square
Dropped Squiggle
Dropped Standout
Dropped Star-Spangled
Dropped Star
Dropped Statement-Making
Dropped Stitch
Dropped Stonewash-
Dropped Stonewash
Dropped Stone
Dropped Stop
Dropped Strappy-Back
Dropped Strappy
Dropped Street-Chic
Dropped Stretch-Knit
Dropped Stretchy
Dropped Stripe-Pocket
Dropped Striped-Sleeve
Dropped Striped-Trim
Dropped Strong
Dropped Structured
Dropped Studded
Dropped Studio
Dropped Style
Dropped Subtle
Dropped Suede
Dropped Sunburst
Dropped Sunflower
Dropped Sunglass
Dropped Sunny
Dropped Sunset
Dropped Sun
Dropped Super-Soft
Dropped Surfer
Dropped Surf
Dropped Sushi
Dropped Suspender
Dropped Swan
Dropped Sweetheart
Dropped Sweet
Dropped Swiss
Dropped T-Back
Dropped Tab-Sleeved
Dropped Taco
Dropped Tailored
Dropped Take
Dropped Tartan
Dropped Tasmanian
Dropped Tassel-Trimmed
Dropped Tasseled-Hem
Dropped Tasseled
Dropped Teardrop
Dropped Teenage
Dropped Tell
Dropped Texas
Dropped Texture-Paneled
Dropped Texture-Panel
Dropped Texture-Striped
Dropped Textured-Paneled
Dropped There's
Dropped Things
Dropped Three-Button
Dropped Thunderbird
Dropped Tie-Back
Dropped Tie-Dyed
Dropped Tie-Front
Dropped Tiered
Dropped Tile
Dropped Time
Dropped TMNT
Dropped Today
Dropped Tokyo
Dropped Tonal-Patterned
Dropped Tonal-Topstitched
Dropped Tonal
Dropped Topstitched
Dropped Toucan
Dropped Touch
Dropped Toujours
Dropped Transformers
Dropped Tri-Colored
Dropped Tri-Stripe
Dropped Triangle-Patterned
Dropped Triangle
Dropped Tribal-Inspired
Dropped Triple-Blocked
Dropped Trouble
Dropped Trouser
Dropped True
Dropped Trust
Dropped Tulip-Back
Dropped Tulip-Front
Dropped Tulip-Hem
Dropped Tulle
Dropped Tupac
Dropped Turtleneck
Dropped Tuxedo-Inspired
Dropped Tweed-Paneled
Dropped Tweed
Dropped Tweety
Dropped Twill-Woven
Dropped Twill
Dropped Twist-Back
Dropped Twisted-Hem
Dropped Twisted
Dropped Twist
Dropped Two-Button
Dropped Two-Pocket
Dropped Two-Tone
Dropped Unicorns
Dropped Unstructured
Dropped Until
Dropped Upside-Down
Dropped V-Back
Dropped V-Cut
Dropped V-Notched
Dropped Van
Dropped Varsity-Striped
Dropped Vegan
Dropped Velveteen
Dropped Velvet
Dropped Venice
Dropped Vented
Dropped Vertical
Dropped Vibrant
Dropped Victorian
Dropped Viney
Dropped Voila
Dropped Voyager
Dropped Waffle-Sleeve
Dropped Waffle-Textured
Dropped Waffle
Dropped Wake
Dropped Waldo
Dropped Wander
Dropped Washed
Dropped Wave
Dropped Wavy
Dropped Wearing
Dropped Weekend
Dropped Well-Traveled
Dropped Western-Inspired
Dropped West
Dropped Whale
Dropped What
Dropped Where's
Dropped Whimsical
Dropped Whipstitched
Dropped Whiskered
Dropped White
Dropped Wide-Leg
Dropped Wifey
Dropped Wildflower
Dropped Wild
Dropped Windbreaker
Dropped Windowpane-Patterned
Dropped Windowpane
Dropped Woodstock
Dropped Worldly
Dropped World
Dropped Wutever
Dropped X-Ray
Dropped XO
Dropped Y-Back
Dropped Yes
Dropped Yoga
Dropped Young,
Dropped Young
Dropped You
Dropped Zigzag
Dropped Zig
Dropped Zip-Back
Dropped Zip-Front
Dropped Zip-Pocket
Dropped Zip-Up
Dropped Zipped
Dropped Zipper-Front
Dropped Zippered-Ankle

         texture
16      Abstract
19          Acid
40    Asymmetric
42      Athletic
58       Baroque
...          ...
1071       Water
1096       Woven
1115    Zippered
1116      Zipper
1117         Zip

[170 rows x 1 columns]

In [16]:
import pandas as pd
import os
import re
from io import StringIO

In [17]:
df = pd.read_csv("../../labels/Anno_coarse/list_bbox.txt", delim_whitespace=True, header = 1)
df.head()

C:\Users\elise\AppData\Local\Temp\ipykernel_28664\2529323038.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("labels/Anno_coarse/list_bbox.txt", delim_whitespace=True, header = 1)

                                        image_name  x_1  y_1  x_2  y_2
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg   72   79  232  273
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg   67   59  155  161
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg   65   65  156  200
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg   51   62  167  182
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg   46   88  166  262

In [18]:
file_path = '../../labels/Anno_coarse/list_attr_cloth.txt'

# Prepare to read the file and transform lines
transformed_lines = []
with open(file_path, 'r') as file:
    for line in file:
        # Strip leading/trailing whitespace and replace spaces before non-space characters
        transformed_line = re.sub(r' (?=\S)(?!\d)', '_', line.strip())
        transformed_line = transformed_line.title()
        transformed_lines.append(transformed_line)


# Convert the list of transformed lines into a DataFrame
data = '\n'.join(transformed_lines)
data = StringIO(data)
# Adjusting separator as necessary based on actual data
raw_attributes = pd.read_csv(data, sep='\s+', header=1)
column_names = ['attribute_name', 'attribute_type']
raw_attributes.columns = column_names
raw_attributes.head(10)

<>:17: SyntaxWarning: invalid escape sequence '\s'
<>:17: SyntaxWarning: invalid escape sequence '\s'
C:\Users\elise\AppData\Local\Temp\ipykernel_28664\1096241209.py:17: SyntaxWarning: invalid escape sequence '\s'
  raw_attributes = pd.read_csv(data, sep='\s+', header=1)

           attribute_name  attribute_type
0                  A-Line               3
1                Abstract               1
2        Abstract_Chevron               1
3  Abstract_Chevron_Print               1
4        Abstract_Diamond               1
5         Abstract_Floral               1
6   Abstract_Floral_Print               1
7            Abstract_Geo               1
8      Abstract_Geo_Print               1
9        Abstract_Paisley               1

In [19]:
count_values = []

# Iterate over each unique texture and count occurrences in the 'image_name' column
for row in raw_attributes.itertuples():
    attribute_name = getattr(row, 'attribute_name')
    attribute_type = getattr(row, 'attribute_type')
    count = df['image_name'].str.contains(attribute_name, regex=True).sum()  # Counts the number of True values
    count_values.append([attribute_name, attribute_type, count])  # Store texture and its count

# Convert count_values to DataFrame for better display
count_df = pd.DataFrame(count_values, columns=['attribute_name', 'attribute_type', 'count'])

In [20]:
count_df

             attribute_name  attribute_type  count
0                    A-Line               3   3252
1                  Abstract               1  10496
2          Abstract_Chevron               1    231
3    Abstract_Chevron_Print               1    110
4          Abstract_Diamond               1    151
..                      ...             ...    ...
995              Zip-Pocket               4    139
996                  Zip-Up               4    291
997                  Zipped               4     83
998                  Zipper               4   3465
999                Zippered               4   2902

[1000 rows x 3 columns]

In [21]:
selected_rows = []  # A list to hold the rows that meet the condition
for row in count_df.itertuples():
    if row.count > 1000:
        selected_rows.append(row)  # Append the row as a dictionary

attribute = pd.DataFrame(selected_rows)
attribute.drop(columns=['Index'], inplace=True)
attribute

     attribute_name  attribute_type  count
0            A-Line               3   3252
1          Abstract               1  10496
2    Abstract_Print               1   4239
3              Acid               2   1442
4         Acid_Wash               2   1415
..              ...             ...    ...
187         Workout               5   1130
188           Woven               2   5687
189             Zip               4   4996
190          Zipper               4   3465
191        Zippered               4   2902

[192 rows x 3 columns]

In [22]:
texture = attribute[attribute['attribute_type'] == 1]
fabric = attribute[attribute['attribute_type'] == 2]
shape = attribute[attribute['attribute_type'] == 3]
part = attribute[attribute['attribute_type'] == 4]
style = attribute[attribute['attribute_type'] == 5]

In [23]:
style

    attribute_name  attribute_type  count
6         Athletic               5   1273
7         Babydoll               5   1600
9         Baseball               5   1733
17       Boyfriend               5   1260
29         Classic               5   8221
86            Heat               5   6235
96              La               5  19361
104           Love               5   1285
122            Pan               5   8666
145           Rose               5   4065
180       Tropical               5   1459
182        Utility               5   1412
184        Varsity               5   1730
187        Workout               5   1130